@import 'tailwindcss';
@import './component-styles.css';
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@source '../../../../../app/Filament/**/*.php';
@source '../../../../../resources/views/filament/**/*.blade.php';
@source '../../../../../vendor/filament/**/*.blade.php';
@source '../../../../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../../../../resources/views/**/*.blade.php';
@source '../../../../../resources/views/components/**/*.blade.php';
@source '../../../../../resources/views/components/blade.php';
@source '../../../../../wave/resources/views/**/*.blade.php';
@source '../../../../../resources/themes/anchor/**/*.blade.php';
@source '../../../../../resources/plugins/**/*.php';
@source '../../../../../config/*.php';


[x-cloak]{
  display:none;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count:infinite;
  fill: #4e80ee;
}

  #wave2 {
    animation-duration:5s;
    animation-direction: reverse;
    opacity: .6
  }
  #wave3 {
    animation-duration: 7s;
    opacity:.3;
  }
  @keyframes drop {
    0% {
      transform: translateY(80%);
      opacity:.6;
    }
    80% {
      transform: translateY(80%);
      opacity:.6;
    }
    90% {
      transform: translateY(10%) ;
      opacity:.6;
    }
    100% {
      transform: translateY(0%) scale(1.5);
      stroke-width:0.2;
      opacity:0;
    }
  }
  @keyframes wave {
    to {transform: translateX(-100%);}
  }

  .form-control{
    @apply w-full form-input;
  }

/****** Form Input CLASSES **********/



.form-select{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M7 7l3-3 3 3m0 6l-3 3-3-3' stroke='%239fa6b2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-position: right .5rem center;
    background-size: 1.5em 1.5em;
    padding:.5rem 2.5rem .5rem .75rem;
    background-repeat: no-repeat;
}

.prose {
  blockquote{
    @apply py-3 border-l-4 bg-zinc-100 border-zinc-300;
  }
}

html, body{
  p{
    @apply text-gray-500 dark:text-gray-400;
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

:root {
  --primary-50:  #111827;
  --primary-100: #111827;
  --primary-200: #111827;
  --primary-300: #111827;
  --primary-400: #111827;
  --primary-500: #111827;
  --primary-600: #111827;
  --primary-700: #111827;
  --primary-800: #111827;
  --primary-900: #111827;
  --primary-950: #111827;
}

/** The following are CSS files needed by Filament for components, table builder, etc. 
https://github.com/filamentphp/filament/blob/4.x/docs/01-introduction/02-installation.md#configuring-styles
**/

/* Required by all components */
@import '../../../../../vendor/filament/support/resources/css/index.css';

/* Required by actions and tables */
@import '../../../../../vendor/filament/actions/resources/css/index.css';

/* Required by actions, forms and tables */
@import '../../../../../vendor/filament/forms/resources/css/index.css';

/* Required by actions and infolists */
@import '../../../../../vendor/filament/infolists/resources/css/index.css';

/* Required by notifications */
@import '../../../../../vendor/filament/notifications/resources/css/index.css';

/* Required by actions, infolists, forms, schemas and tables */
@import '../../../../../vendor/filament/schemas/resources/css/index.css';

/* Required by tables */
@import '../../../../../vendor/filament/tables/resources/css/index.css';

/* Required by widgets */
@import '../../../../../vendor/filament/widgets/resources/css/index.css';



.fi-color-danger {
  --color-50: var(--danger-50);
  --color-100: var(--danger-100);
  --color-200: var(--danger-200);
  --color-300: var(--danger-300);
  --color-400: var(--danger-400);
  --color-500: var(--danger-500);
  --color-600: var(--danger-600);
  --color-700: var(--danger-700);
  --color-800: var(--danger-800);
  --color-900: var(--danger-900);
  --color-950: var(--danger-950);
}

.fi-color-gray {
  --color-50: var(--gray-50);
  --color-100: var(--gray-100);
  --color-200: var(--gray-200);
  --color-300: var(--gray-300);
  --color-400: var(--gray-400);
  --color-500: var(--gray-500);
  --color-600: var(--gray-600);
  --color-700: var(--gray-700);
  --color-800: var(--gray-800);
  --color-900: var(--gray-900);
  --color-950: var(--gray-950);
}

.fi-color-info {
  --color-50: var(--info-50);
  --color-100: var(--info-100);
  --color-200: var(--info-200);
  --color-300: var(--info-300);
  --color-400: var(--info-400);
  --color-500: var(--info-500);
  --color-600: var(--info-600);
  --color-700: var(--info-700);
  --color-800: var(--info-800);
  --color-900: var(--info-900);
  --color-950: var(--info-950);
}

.fi-color-primary {
  --color-50: var(--primary-50);
  --color-100: var(--primary-100);
  --color-200: var(--primary-200);
  --color-300: var(--primary-300);
  --color-400: var(--primary-400);
  --color-500: var(--primary-500);
  --color-600: var(--primary-600);
  --color-700: var(--primary-700);
  --color-800: var(--primary-800);
  --color-900: var(--primary-900);
  --color-950: var(--primary-950);
}

.fi-color-success {
  --color-50: var(--success-50);
  --color-100: var(--success-100);
  --color-200: var(--success-200);
  --color-300: var(--success-300);
  --color-400: var(--success-400);
  --color-500: var(--success-500);
  --color-600: var(--success-600);
  --color-700: var(--success-700);
  --color-800: var(--success-800);
  --color-900: var(--success-900);
  --color-950: var(--success-950);
}

.fi-color-warning {
  --color-50: var(--warning-50);
  --color-100: var(--warning-100);
  --color-200: var(--warning-200);
  --color-300: var(--warning-300);
  --color-400: var(--warning-400);
  --color-500: var(--warning-500);
  --color-600: var(--warning-600);
  --color-700: var(--warning-700);
  --color-800: var(--warning-800);
  --color-900: var(--warning-900);
  --color-950: var(--warning-950);
}

.fi-bg-color-50 {
  --bg: var(--color-50);
}

.fi-bg-color-100 {
  --bg: var(--color-100);
}

.fi-bg-color-200 {
  --bg: var(--color-200);
}

.fi-bg-color-300 {
  --bg: var(--color-300);
}

.fi-bg-color-400 {
  --bg: var(--color-400);
}

.fi-bg-color-500 {
  --bg: var(--color-500);
}

.fi-bg-color-600 {
  --bg: var(--color-600);
}

.fi-bg-color-700 {
  --bg: var(--color-700);
}

.fi-bg-color-800 {
  --bg: var(--color-800);
}

.fi-bg-color-900 {
  --bg: var(--color-900);
}

.fi-bg-color-950 {
  --bg: var(--color-950);
}

.hover\:fi-bg-color-50 {
  --hover-bg: var(--color-50);
}

.hover\:fi-bg-color-100 {
  --hover-bg: var(--color-100);
}

.hover\:fi-bg-color-200 {
  --hover-bg: var(--color-200);
}

.hover\:fi-bg-color-300 {
  --hover-bg: var(--color-300);
}

.hover\:fi-bg-color-400 {
  --hover-bg: var(--color-400);
}

.hover\:fi-bg-color-500 {
  --hover-bg: var(--color-500);
}

.hover\:fi-bg-color-600 {
  --hover-bg: var(--color-600);
}

.hover\:fi-bg-color-700 {
  --hover-bg: var(--color-700);
}

.hover\:fi-bg-color-800 {
  --hover-bg: var(--color-800);
}

.hover\:fi-bg-color-900 {
  --hover-bg: var(--color-900);
}

.hover\:fi-bg-color-950 {
  --hover-bg: var(--color-950);
}

.dark\:fi-bg-color-50 {
  --dark-bg: var(--color-50);
}

.dark\:fi-bg-color-100 {
  --dark-bg: var(--color-100);
}

.dark\:fi-bg-color-200 {
  --dark-bg: var(--color-200);
}

.dark\:fi-bg-color-300 {
  --dark-bg: var(--color-300);
}

.dark\:fi-bg-color-400 {
  --dark-bg: var(--color-400);
}

.dark\:fi-bg-color-500 {
  --dark-bg: var(--color-500);
}

.dark\:fi-bg-color-600 {
  --dark-bg: var(--color-600);
}

.dark\:fi-bg-color-700 {
  --dark-bg: var(--color-700);
}

.dark\:fi-bg-color-800 {
  --dark-bg: var(--color-800);
}

.dark\:fi-bg-color-900 {
  --dark-bg: var(--color-900);
}

.dark\:fi-bg-color-950 {
  --dark-bg: var(--color-950);
}

.dark\:hover\:fi-bg-color-50 {
  --dark-hover-bg: var(--color-50);
}

.dark\:hover\:fi-bg-color-100 {
  --dark-hover-bg: var(--color-100);
}

.dark\:hover\:fi-bg-color-200 {
  --dark-hover-bg: var(--color-200);
}

.dark\:hover\:fi-bg-color-300 {
  --dark-hover-bg: var(--color-300);
}

.dark\:hover\:fi-bg-color-400 {
  --dark-hover-bg: var(--color-400);
}

.dark\:hover\:fi-bg-color-500 {
  --dark-hover-bg: var(--color-500);
}

.dark\:hover\:fi-bg-color-600 {
  --dark-hover-bg: var(--color-600);
}

.dark\:hover\:fi-bg-color-700 {
  --dark-hover-bg: var(--color-700);
}

.dark\:hover\:fi-bg-color-800 {
  --dark-hover-bg: var(--color-800);
}

.dark\:hover\:fi-bg-color-900 {
  --dark-hover-bg: var(--color-900);
}

.dark\:hover\:fi-bg-color-950 {
  --dark-hover-bg: var(--color-950);
}

.fi-text-color-0 {
  --text: oklch(1 0 0);
}

.fi-text-color-50 {
  --text: var(--color-50);
}

.fi-text-color-100 {
  --text: var(--color-100);
}

.fi-text-color-200 {
  --text: var(--color-200);
}

.fi-text-color-300 {
  --text: var(--color-300);
}

.fi-text-color-400 {
  --text: var(--color-400);
}

.fi-text-color-500 {
  --text: var(--color-500);
}

.fi-text-color-600 {
  --text: var(--color-600);
}

.fi-text-color-700 {
  --text: var(--color-700);
}

.fi-text-color-800 {
  --text: var(--color-800);
}

.fi-text-color-900 {
  --text: var(--color-900);
}

.fi-text-color-950 {
  --text: var(--color-950);
}

.hover\:fi-text-color-0 {
  --hover-text: oklch(1 0 0);
}

.hover\:fi-text-color-50 {
  --hover-text: var(--color-50);
}

.hover\:fi-text-color-100 {
  --hover-text: var(--color-100);
}

.hover\:fi-text-color-200 {
  --hover-text: var(--color-200);
}

.hover\:fi-text-color-300 {
  --hover-text: var(--color-300);
}

.hover\:fi-text-color-400 {
  --hover-text: var(--color-400);
}

.hover\:fi-text-color-500 {
  --hover-text: var(--color-500);
}

.hover\:fi-text-color-600 {
  --hover-text: var(--color-600);
}

.hover\:fi-text-color-700 {
  --hover-text: var(--color-700);
}

.hover\:fi-text-color-800 {
  --hover-text: var(--color-800);
}

.hover\:fi-text-color-900 {
  --hover-text: var(--color-900);
}

.hover\:fi-text-color-950 {
  --hover-text: var(--color-950);
}

.dark\:fi-text-color-0 {
  --dark-text: oklch(1 0 0);
}

.dark\:fi-text-color-50 {
  --dark-text: var(--color-50);
}

.dark\:fi-text-color-100 {
  --dark-text: var(--color-100);
}

.dark\:fi-text-color-200 {
  --dark-text: var(--color-200);
}

.dark\:fi-text-color-300 {
  --dark-text: var(--color-300);
}

.dark\:fi-text-color-400 {
  --dark-text: var(--color-400);
}

.dark\:fi-text-color-500 {
  --dark-text: var(--color-500);
}

.dark\:fi-text-color-600 {
  --dark-text: var(--color-600);
}

.dark\:fi-text-color-700 {
  --dark-text: var(--color-700);
}

.dark\:fi-text-color-800 {
  --dark-text: var(--color-800);
}

.dark\:fi-text-color-900 {
  --dark-text: var(--color-900);
}

.dark\:fi-text-color-950 {
  --dark-text: var(--color-950);
}

.dark\:hover\:fi-text-color-0 {
  --dark-hover-text: oklch(1 0 0);
}

.dark\:hover\:fi-text-color-50 {
  --dark-hover-text: var(--color-50);
}

.dark\:hover\:fi-text-color-100 {
  --dark-hover-text: var(--color-100);
}

.dark\:hover\:fi-text-color-200 {
  --dark-hover-text: var(--color-200);
}

.dark\:hover\:fi-text-color-300 {
  --dark-hover-text: var(--color-300);
}

.dark\:hover\:fi-text-color-400 {
  --dark-hover-text: var(--color-400);
}

.dark\:hover\:fi-text-color-500 {
  --dark-hover-text: var(--color-500);
}

.dark\:hover\:fi-text-color-600 {
  --dark-hover-text: var(--color-600);
}

.dark\:hover\:fi-text-color-700 {
  --dark-hover-text: var(--color-700);
}

.dark\:hover\:fi-text-color-800 {
  --dark-hover-text: var(--color-800);
}

.dark\:hover\:fi-text-color-900 {
  --dark-hover-text: var(--color-900);
}

.dark\:hover\:fi-text-color-950 {
  --dark-hover-text: var(--color-950);
}