.DS_Store
.dockerignore
.editorconfig
.env
.env.backup
.env.example
.env.production
.git
.gitattributes
/.fleet
/.idea
/.phpunit.cache
/.vscode
Dockerfile
README.md
/node_modules
/npm-debug.log
/phpunit.result.cache
/public/build
/public/hot
/public/storage
/phpunit.xml
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
/vendor
yarn-error.log
