/node_modules
/public/hot
/public/storage
/public/.well-known
/storage/*.key
/vendor
/.idea
/.vagrant
/wave-pro
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
.phpunit.result.cache
/wave/vendor/
/public/wave/docs
