.sidebar-collapsed {
  .gjs-cv-canvas {
    width: calc(100% - 0px);
  }

  .gjs-pn-panels {
    display: none;
  }
  .gjs-cv-canvas, .gjs-pn-devices-c {
    left: 0;
  }

  #toggle-sidebar {
    padding: 14px 18px;
    font-size: 18px;
    -webkit-box-shadow: 3px 7px 11px -4px rgba(0,0,0,0.03);
    -moz-box-shadow: 3px 7px 11px -4px rgba(0,0,0,0.03);
    box-shadow: 2px 3px 10px 2px rgba(0,0,0,0.3);
    border-bottom-right-radius: 4px;
  }
}
