$sidebar-width: 300px;
$sidebar-bottom-buttons-height: 40px;


/*  GENERAL  */

html, body, #gjs {
  height: 100% !important;
  margin: 0;
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.gjs-editor {
  font-size: 0.9rem;
}

.toast {
  opacity: 1 !important;
  border: none;
  right: 15px;
  box-shadow: none;

  &.toast-success {
    background: #2dc837;
  }
}

#phpb-loading {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 10000;
  transition: opacity 0.3s, visibility 0.3s;

  &.loaded {
    visibility: hidden;
    opacity: 0;
  }

  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 150px;

    .text {
      font-size: 16px;
      margin: 0 -30px;
      margin-top: 10px;
      text-align: center;
      color: #0d7699;
    }
  }
  .loader {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 8px solid #00c0ff;
    border-top: 8px solid #097295;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
  }
  @keyframes rotate {
    100% {transform: rotate(360deg);}
  }
}

.gjs-cv-canvas {
  height: 100%;
  top: 0;
  width: calc(100% - #{$sidebar-width});
}

.gjs-pn-panel {
  padding: 0;

  .gjs-pn-buttons {
    border-right: 2px solid rgb(223, 224, 225);
    justify-content: center;
  }
}
.gjs-pn-commands,
.gjs-pn-options,
.gjs-pn-devices-c {
  display: none;
}
.gjs-devices-c {
  padding: 0;
}
.gjs-one-bg {
  background-color: #fff;
  border-bottom: none;
}
.gjs-two-color {
  color: #363535;
}
.gjs-four-color {
  color: #fff;
}
.gjs-four-color-h:hover {
  color: #fff;
}
.gjs-pn-commands {
  width: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5 !important;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(22, 184, 236) !important;
  border-radius: 3px;

  &:hover {
    background-color: #08a4d6 !important;
  }
}

/*   SIDEBAR   */

.gjs-pn-views {
  top: 40px;

  .gjs-pn-btn {
    width: 33.33%;
    margin-right: 0;
    padding: 16px 15px 16px 15px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #fff;
    color: #575757;
    border-bottom: 1px solid #dbdbdb;
    font-size: 16px;

    &.gjs-pn-active {
      padding: 15px;
      background-color: #f2f2f2;
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      color: #16b8ec;
      border-bottom: 3px solid #16b8ec;
    }
  }
}
.gjs-pn-options {
  right: 0;
}
.gjs-pn-views,
.gjs-pn-views-container {
  left: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: $sidebar-width;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.gjs-pn-views-container {
  border-right: 2px solid rgb(223, 224, 225);
  padding-top: 89px;
  background: rgb(225, 232, 235);
  height: calc(100% - #{$sidebar-bottom-buttons-height});
  overflow: hidden;

  > div:first-of-type {
    margin-top: 50px;
  }

  > div {
    height: 100%;
    overflow-y: auto;
    padding-top: 10px;
  }

  > div > div {
    background: #fff;
    border-top: 2px solid rgba(0, 0, 0, 0.10);
    border-bottom: 2px solid rgba(0, 0, 0, 0.10);
  }
}
.gjs-cv-canvas,
.gjs-pn-devices-c {
  left: $sidebar-width;
}
.gjs-pn-panel {
  #gjs-sm-caret {
    padding-right: 0 !important;
  }
  .fa-caret-down {
    margin-right: 5px !important;
  }
  .fa-caret-right {
    margin-right: 8px !important;
  }
}


/*   SIDEBAR FIELDS   */

.gjs-three-bg {
  background-color: #16b8ec;
}
.gjs-clm-tags {
  #gjs-clm-close,
  #gjs-clm-checkbox {
    color: #fff;
  }
}
.gjs-field {
  background-color: rgb(227, 227, 227);
  border-radius: 0;
  padding: 2px;

  input,
  select,
  textarea {
    padding: 3px;
  }

  .gjs-d-s-arrow {
    border-top: 4px solid rgb(100, 100, 100);
  }
}


/*   SIDEBAR HEADER   */

#sidebar-header {
  position: absolute;
  box-shadow: none;
  width: 300px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  background: #16b8ec;
  height: 40px;
  z-index: 100;
  border-right: 2px solid #dfe0e1;

  #language-selector {
    float: right;

    .dropdown-item.active,
    .dropdown-item:active {
      background: #16b8ec !important;
    }
    .dropdown-menu.show {
      padding: 0;
    }
    .dropdown-toggle {
      margin-top: 2px;
      color: #fff !important;
      background: none !important;
      border: none;
      box-shadow: none;
      outline: none !important;
    }
  }
}
#toggle-sidebar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  color: #fff;
  background: #16b8ec;
  border-radius: 0;
  transition-duration: unset;
}


/*   BLOCKS PANEL VIEW   */

#block-search {
  position: fixed;
  background: #e1e8eb;
  border-radius: 0;
  width: 298px;
  margin-top: -51px;

  i.fa-search {
    position: absolute;
    top: 11px;
    left: 9px;
    font-size: 15px;
    color: #aaa;
  }

  input {
    border-radius: 0;
    border-right: none;
    padding-left: 28px;

    &::placeholder {
      color: #aaa;
    }
  }
}

.gjs-block {
  border: none;
  box-shadow: none;

  &:hover {
    color: #16b8ec !important;
  }

  .block-thumb {
    height: 70px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}
.gjs-blocks-c {
  background: #e1e8eb;
}
.gjs-block-categories {
  background: #e1e8eb;
  padding-bottom: 45px;
}
.gjs-block-label {
  font-size: 0.8rem;
}
.gjs-block-category {
  background: #fff;
  margin-bottom: 10px;
}
.gjs-block-category.gjs-open {
  border-bottom: none !important;
}
.gjs-blocks-cs {
  border-bottom: none !important;
}


/*   LAYERS PANEL VIEW   */

.gjs-layer .gjs-layer-title {
  background: #fff !important;
}
.gjs-layer.gjs-selected .gjs-layer-title {
  background-color: #16b8ec !important;
}
.gjs-layer.gjs-hovered .gjs-layer-title {
  background-color: #16b8ec70 !important
}
.gjs-category-title,
.gjs-sm-sector .gjs-sm-title,
.gjs-clm-tags .gjs-sm-title,
.gjs-block-category .gjs-title,
.gjs-layer-title {
  background: #fff !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.10) !important;
  letter-spacing: 0;
  font-size: 16px;
  font-weight: normal;
}
.gjs-layer-name {
  padding-top: 2px;
  padding-bottom: 13px;
}
.gjs-layer-count {
  display: none;
}
.gjs-layer-vis {
  padding-top: 11px
}


/*   LAYERS PANEL VIEW   */

.gjs-sm-sector.gjs-sm-open {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


/*   TRAITS PANEL VIEW   */

.gjs-trt-trait {
  display: block;
}
.gjs-trt-header {
  font-weight: normal;
}
.gjs-trt-trait .gjs-label,
.gjs-trt-trait .gjs-field {
  width: 100%;
}
.gjs-field-checkbox {
  height: 17px !important;
  width: 17px !important;
}
.gjs-traits-label {
  font-weight: normal;
  font-size: 16px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1) !important;
}
.gjs-sm-sector #gjs-sm-caret,
.gjs-clm-tags #gjs-sm-caret {
  font-size: initial;
}
.gjs-trt-traits .gjs-label-wrp {
  width: 100%;
}
.gjs-trt-traits p.no-settings {
  padding-top: 10px;
}

.gjs-trt-trait .gjs-field-image {
  background: #fff;
  padding: 0;

  img {
    max-width: 100%;
    max-height: 200px;
  }
}


/*   SIDEBAR BOTTOM BUTTONS   */

#sidebar-bottom-buttons {
  position: absolute;
  left: 0;
  bottom: 0;
  height: $sidebar-bottom-buttons-height;
  width: $sidebar-width;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fff;
  border-top: 1px solid #dbdbdb;
  border-right: 2px solid #dfe0e1;

  button,
  a {
    float: right;
    height: 100%;
    width: 33.33%;
    border-left: 1px solid #dfe0e1;
    border-radius: 0;
    color: #888;
    font-size: 15px;
    padding: 8px 0;

    &:hover {
      background: #16b8ec;
      color: #fff;
    }
    &:last-child {
      border-left: none;
    }
  }

  button.waiting {
    background: #16b8ec;
    color: #fff !important;

    i.fa {
      display: none;
    }
  }

  a#go-back:hover {
    background: #dc3545;
  }
}

@import 'fields';
@import 'style-manager';
@import 'asset-manager';
@import 'ckeditor';
