@import '/vendor/filament/filament/resources/css/theme.css';
/* 
.fi-topbar nav{
    background:none !important;
    box-shadow:none !important;
}

.fi-sidebar-nav{
    background:#ffffff;
    border-right: 1px solid #f1f1f5;
}

.dark .fi-sidebar-nav{
    background:#18181b;
    border-right:1px solid #23232b;
}

.dark .fi-sidebar-header{
    border-right: 1px solid #23232b;
}

.fi-sidebar-header{
    border-right: 1px solid #f1f1f5;
}

.white-listed{
    @apply text-blue-600;
}

.text-blue-600{
    color:#3662e3;
} */

.text-blue-600{
    color:#3662e3;
}

.fi-topbar > nav, .fi-sidebar-header{
    box-shadow: none !important;
    border-bottom:1px solid #eeeeff;
}

.fi-url-admin-forms .fi-main{
    @apply px-0 max-w-full h-full bg-zinc-100;
}

.forms-page > section{
    @apply py-0 my-0;
}

@config 'tailwind.config.js';